.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face{
  font-family:headerFont;
  src: url(./fonts/headerFont.otf);
}

@font-face{
  font-family:lightHeaderFont;
  src: url(./fonts/headerFont.otf);
  
}

@font-face{
  font-family: bodyFont;
  src: url(./fonts/bodyFont.ttf);
}

@font-face{
  font-family: contentFont;
  src: url(./fonts/contentFont.ttf);
}

.app-header {
  height:100%;
  background-image: url("./images/bground.jpg");
  background-position:bottom;
  background-attachment:fixed;
  background-size: cover;
  background-repeat:repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  /*padding-bottom: 160px;*/
  padding: 0 0 35%;
  padding-top: 50px;
  

}

.app-header-title{
  font-family:'headerFont';
  font-size:calc(50px + 1vmin);
  margin-left: auto;
  margin-right: auto;
}


.about-me {
  background-color: black;
  font-family: 'headerFont';
  color:white;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  padding: 1px;
  letter-spacing: 1.5px;
  display: flex;
}

.about-me-content{
  font-size:45px;
  padding-top:2px;
  padding:80px;
  letter-spacing: 2.0px;
  transition: 1000ms;
}

.expertise{
  background-color: white;
  font-family: 'headerFont';
  margin-bottom: -50px;
  color: black;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  letter-spacing: 1.5px;
  padding: 2px;
  flex-wrap:wrap;
}

.expertise-subtitle{
  margin-top:-70px;
  margin-bottom:30px;
  font-family: 'contentFont';
  margin-right: -30px;
  font-size:20px;
  justify-content: center;
  
}

.expertise-subtitle-emoji{
  flex-direction: row;
  flex:1;
  display:flex;
  padding:20px;
  margin-top:-35px;
  margin-bottom:20px;
  justify-content:center;
}

.expertise-content, .project-content, .contact-content, .resume-content{
  font-family: 'bodyFont';
  letter-spacing: 1.5px;
  margin-top:5px;
  padding-top:5px;
  padding:20px;
  justify-content: center;
  align-items: center;
}

.expertise-cards{
  flex:1px;
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 850ms; 
}

.web-dev-expertise, .db-expertise, .testing-expertise, .programming-expertise, .os-expertise{
  position: relative;
  flex-wrap: wrap;
  width: 18rem;
  padding-top: 2px;
  padding:25px;
  margin: 20px;
  /*padding-bottom:30px;
  margin-top: -20px;*/
  background-color: #ffd1df;
  justify-content: center;
  align-items: center;
}


.web-dev-expertise-title, .db-expertise-title, .testing-expertise-title, .programming-expertise-title, .os-expertise-title{
  font-size:35px;
  font-weight: bolder;
  font-family:'contentFont';
  color: black;
}


.web-dev-expertise-content, .db-expertise-content, .testing-expertise-content, .programming-expertise-content, .os-expertise-content{
  background-color: pink;
  border-radius: 5px;
  margin-top:9px;
  flex:1;
  flex-direction: row;
  display: flex;
  text-align:justify;
}

.card-text{
  margin-bottom:5px;
  margin:0px;
  padding:2px;
  font-family: 'bodyFont';
  color:black;
  list-style:none;
  justify-content: flex-start;
}

.card-text-interest{
  justify-content: center;
}

.footer{
  background-color: black;
  font-family: 'headerFont';
  color:white;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  padding: 20px;
  letter-spacing: 1.5px;
  display: flex;

}

.resume{
  font-family: 'headerFont';
  font-size:50px;
  padding:10px;
  background-color: #b1b1b1;
  position: relative;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  margin: 0px;
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
 /* padding-bottom: 2px;*/
}

.resume-logo{
  animation: resume-logo-spin-close  0.5s linear;

}

.resume-logo-click {
  animation: resume-logo-spin-open  0.5s linear;
}


.expertise-logo{
  animation: unset
}

.expertise-logo-hover{
  animation: exp-logo-spin-open infinite 4s linear;
}


@keyframes resume-logo-spin-open {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes resume-logo-spin-close {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}


@keyframes exp-logo-spin-open{
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}



.resume-content{
  background-color:#b1b1b1;
  margin-top: -40px;
  letter-spacing: unset; 
}

.download-cv-button{
  font-family: 'bodyFont';
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color:white;
  cursor: pointer;
}

.download-cv-button :hover{
  color: #fffe7a; 
  transition: 350ms;
}

.download-cv{
  justify-content: center;
  padding:10px;
  flex:0;
  display:flex;
  flex-direction: row;
}

.download-cv :hover{
  color: #fffe7a; 
  transition: 300ms;
}


.resumeBackground{
  background-color: black;
  background-position: fixed;
  padding:15px;
  /*padding-left:-200px;*/
  margin:7px;
  flex-wrap: wrap;
  border-radius: 10px;

}

.scroll-down-resume{
  flex:1;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  cursor: pointer;
}

.education, .work-experience, .interests, .biodata{
  background-color:#b1b1b1;
  color:black;
  /*min-height: 90vh;*/
  display: flex;
  flex:1;
  font-size:calc(17px + 0.5vmin);
  font-family: 'contentFont';
  flex-direction: row;
  align-items:center;
  justify-content:flex-start;
  position: relative;
 /* padding-top: 2px;*/
  padding:5px;
  padding-left: 50px;
  margin:7px;
  margin-bottom:8px;
  background-color: #fffe7a;
  transition: 850ms;
  height: 60px;
}

.education-content, .work-experience-content, .interests-content, .biodata-content{ 
  background-image: url("images/resumeBackground.jpg");
  padding:10px;
  margin-top: 2px;
  margin:0px;
  transition: 850ms;
  position: relative;
  flex-wrap: wrap;
  display:'flex';
  flex:1;
  justify-content: center;
  flex-direction: row;
}


.biodata-content{
  background-image: url('images/cat.jpg');
  background-position:fixed;
  transition: 850ms ;
  padding: 10px;
  justify-content: flex-start;
 /* text-shadow: 1px 1px 2px black;
  /*text-shadow: 1.5px 3px 2px rgba(15, 14, 14, 0.75);*/
}

.biodata-inner-content{
  background-color: white;;
  opacity:0.9;
  border-radius: 5px;
  margin: 15px;
  padding:20px;
  font-family: 'bodyFont';
  font-weight: bold;
  color:black;
  letter-spacing: 1.5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex:1px;
  position: relative;
  flex-direction: row;
  display: flex;
}

.biodata-close-icon{
  justify-content:flex-end;
  cursor: pointer;
  margin-top:0rem;
  margin-right: 0rem;
  display: flex;
  margin-bottom: -20px;
  padding: 0px;
}

.biodata-list{
  flex-wrap: wrap;
  font-family: 'bodyFont';
  letter-spacing: 1.5px;
  justify-content: center;
  flex:1px;
  position: relative;
  flex-direction: column;
  display: flex;  
}

.biodata-section{
  justify-content: flex-start;
  padding: 10px;
}

.biodata-card{
  background-color: rgb(241, 233, 233);
  text-align: justify;
  font-size: 25px;
  flex-wrap: wrap;
  flex:1;
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  padding:30px;
  border-radius: 5px;
}

.biodata-icon {
  color:#dac44b;
  text-align: justify;
  margin-bottom: -20px;
}

.biodata-card-title{
  color:gray;
  margin-bottom: -20px;
  font-size: 20px;
}

.education-inner-content{
  padding: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:-50px;
  margin-right:-50px;
  color:black;
  font-family: 'bodyFont';
  opacity: 0.95;
  background-color:#f7cfda;
  border-radius:5px;
  position: relative;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: center;
  align-items: center;

}

.work-experience-background{
  background-color: black;
  background-position:fixed;
  padding:15px;
  justify-content: flex-start;
  /*padding-left:-200px;*/
  margin:7px;
  flex-wrap: wrap;
  border-radius: 5px;

}

.work-experience-content{
  background-image: none;
 background-image: url('images/workE.jpg');
  /*background: linear-gradient(to bottom, #ffffff 0%, #dedede 100%);*/
  background-position:fixed;
  background-repeat:repeat;
}


.project{
  background-color:#afa2ab;
  font-family: 'headerFont';
  margin-bottom: -50px;
  color: white;
  font-size: 50px;
  justify-content: center;
  flex-direction: column;
  align-items:center;  
  letter-spacing: 1.5px; 
  padding:30px;
}

.project-content{
  list-style: none;
  background-color:#afa2ab ;
  font-family: 'lightHeaderFont';
  color:white;
  font-size:22px;
  font-weight: 'bolder';
  padding:30px;
  margin:0px;  
}


.interests-content{
  background-image: url('images/rose.jpg');
  background-position: fixed;
  transition: 850ms ;
  justify-content: center;
}

.navbar {
  background-color: transparent;
  height: 50px;
  position: fixed;
  display: flex;
  flex:1;
  flex-wrap: wrap;
  padding:10px;
  align-items: center;
  font-weight: bolder;  
  z-index: 4;
}

.menu-bars-open{
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  position: fixed;  
  z-index: 4;
}

.menu-bars-close{
  margin-left: -2rem;
  margin-top: -2rem;
  margin-bottom: 0.5rem; 
  justify-content: start; 
}

.scroll-to-top{
  margin-right: 1rem;
  margin-bottom: 1rem;
 /* margin-top: 0.5rem;*/
  position: fixed; 
  bottom: 0px;
  right: 0px;
  justify-content: end;
  color:#f4c430;
}

.nav-menu {
  background-image: url("images/navbar.jpg");
  background-repeat: repeat-y;
  background-position: fixed;
  background-size: 100%; 
  width: 250px;
  height: 100vh;
  display: flex;
  padding: 25px;
  padding-left: -2px;
  position: fixed;
  top: 0px;
  left: -100%;
  transition: 850ms;
  z-index: 4;
  font-weight: bolder;  
}

.nav-menu.active {
  left: 0;
  transition: 1000ms;
  flex-direction: column;
  padding-left: 10px;
  flex-wrap: wrap;
  
 /* padding-left: -1px;*/
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  position: relative;
  list-style: none;
  font-family: 'contentFont';
  font-size: 20px;
  margin-top: -4px;
  margin-left: 0px;
  font-weight: bolder;
}

.nav-text a {
  text-decoration: none;
  background-color: white;
  color: black;
  width: 70%;
  padding:5px;
  display: flex;
  align-items: center; 
  padding-left: 15px;
  position: relative;
  border-radius: 4px;
  margin-top: 2px;
}

.nav-text a:hover {
  background-color:#998a36;
  color:white;
  transition:700ms;
}

.nav-text-biodata {
  background-color: white;
  opacity: 0.8;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
  list-style: none;
  font-family: 'headerFont';
  font-size: 21px;
  width: 100%;
  padding-top: 0.2px;
  padding-bottom:0.2px;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-left:-20px;
  letter-spacing: 1.5px;
  font-weight: bolder;
}

/*.nav-text-header {
  color:white;
  text-shadow: -1px 2px 5px rgba(15, 14, 14, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 30px;
  position: relative;
  list-style: none;
  letter-spacing: 0.2px;
  height: 100px;
  font-family: 'headerFont';
  font-size: 45px;
  margin-top: -20px;
  /*margin-bottom: 100px;
  font-weight: bolder;
}*/

.nav-text-header:hover{
  color:white;
  transition:850ms;
}


.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color:transparent;
  width: 60%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

span {
  margin-left: 16px;
}

.social-media{
  flex-direction: row;
  display: flex;
  flex:1;
  list-style: none;
  padding-left: 0px;
  margin-top: 9px;
  color: white;
}

.socmedIcon :hover{
  color:#e2c20e;
  transition:500ms;

}

.outer-interest{
  justify-content: center;
  padding:10px;
  transition: 850ms ;
  padding-bottom: 60px;
}

.inner-interest{
  flex:1px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  transition: 850ms;
  padding-bottom: 60px;
  
}

.interest-reading{
  background-color: none;
  border-radius: 5px;
  background-position: center;
  background-size: 400px;
  padding:1px;
  flex-wrap: wrap;
  position: relative;
  margin-bottom:30px;
}


.inner-interest-reading, .inner-interest-programming, .inner-interest-hiking{
  position: relative;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 10px;  
}

.interest-text{
  color:#c7ae21;
  font-family:'lightHeaderFont';
  font-size:45px;
  margin-top:-2px; 
  text-shadow: 0px 3px 1px black;

}

  .project-icon {
    /*color:#d8d8bf*/
    color:#9c718f;
    flex:1px;
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 850ms;
    padding-top:10px;
  }

  .project-inner-content{
    /*background-color: #d8bfd8;*/
    background-color: #d8bfd8;
    color:black;
    border-radius: 5px;
    text-align: justify;
    position: relative;
    padding:25px;
    font-family: 'bodyFont';
    flex-wrap: wrap;
 
  }

  .project-explanation{
    background-color:  #F4F4F1;
    padding:20px;
    border-radius: 5px;
    margin:0px;
    margin-top:30px;
    font-size: 16px;
    word-spacing: 1.5px;
    font-weight: bold;
  }

  .work-exp-card{
    /*background-color:#FECC98 ;*/
    background-color:white;
    margin: 30px;
    padding: 10px; 
    opacity: 0.95;  
    
  }

  .work-exp-inner-card{
    flex:1;
    flex-direction: row;
    display:flex;
    margin-bottom: -10px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    padding-left: 30px;
    border-bottom: 2px solid rgb(170, 170, 170);

  }

  .work-exp-date{
    align-items:center;
    flex:1;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding-right: 30px;
  }

  .work-exp-title{
    font-family: 'bodyFont';
    font-weight: bold;
    /*color: #0141CF;*/
    color: black;
    font-size: 40px;
    align-items: center;
    justify-content: center;
  }

  .work-exp-content{
    background-color: #FD6600 ;
    border-radius: 5px;
    margin:30px;
    padding:10px;
    transition: 800ms;
    font-family:'bodyFont';
    color: #1874D2;
    justify-content: center;
    flex-wrap: wrap;
  }

  .work-exp-content-inner, .edu-exp-content-inner{
    background-color: white;
    border-radius: 5px;
    position: relative;
    flex-wrap: wrap;
    flex:1;
    margin:20px;
    padding:20px;
    padding-top: 3px;
    padding-left: 1rem;
    justify-content: flex-start;
    position: relative;
    word-spacing: 1.5px;
    text-align: justify;
  }

 

  .contact{
    font-family: 'headerFont';
    
    margin-bottom: -50px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;  
    letter-spacing: 1.5px;
    padding:10px;
    flex-wrap: wrap;
    background-color: #fffcec ;  
    color:black;
  }

  .contact-header{
    margin-top: -60px;
    font-family: 'contentFont';
    margin-right: -30px;
    font-size:20px;
    justify-content: center;
    background-color: #fffcec;
  }



  .social-media-contact{
    flex-direction: row;
    display: flex;
    flex:1;
    list-style: none; 
    color: white;
    justify-content: center;
  }

  .contact-outer-border{
    background-color: #ffdead ;
    padding: 50px;
    justify-content: center ;
    margin: 30px;
    padding-top: 5px;
    font-size:20px;
    font-weight: bold;
    font-family: 'contentFont';
  }

  .contact-inner-border{
    background-color: #f3e5ab ;
    padding: 15px;
    justify-content: center ;  
  }

  .contact-form{
    background-color: peachpuff;
    justify-content: center;
    padding:30px;
    padding-top: 20px;
    padding-left: -10px;
    border-radius: 5px;
    font-size: 15px;
    text-align: justify;
    font-family: 'bodyFont';
    flex-wrap: wrap;
    font-weight: bolder;
  }


  input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    padding-left:1px;
    padding-right: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    position: relative;
    flex-wrap: wrap;
  }

  label {
    padding: 20px 0px 5px 2px;
    display: inline-block;
  }
















